.container {
	@apply fixed top-1/2 left-5 text-sm border border-gray-300 bg-white rounded-lg;
	transform: translateY(-50%);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.container:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-50%) scale(1.02);
}

.selectOptionContainer {
	@apply mb-6 last:mb-0 first:pt-5 last:pb-5 px-4;
}

.toolBoxLabel {
	@apply block mb-1 font-semibold text-gray-700;
}

.colorsContainer {
	@apply flex flex-wrap items-center mt-2;
}

.colorBox {
	@apply inline-block w-6 h-6 rounded-full mr-2 cursor-pointer border-2 border-transparent transition-all duration-200;
}

.colorBox:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
}

.noFillColorBox {
	background: linear-gradient(
			to top left,
			rgba(255, 0, 0, 0) 0%,
			rgba(255, 0, 0, 0) calc(50% - 0.8px),
			rgba(255, 0, 0, 1) 50%,
			rgba(255, 0, 0, 0) calc(50% + 0.8px),
			rgba(255, 0, 0, 0) 100%
		),
		linear-gradient(
			to top right,
			rgba(255, 0, 0, 0) 0%,
			rgba(255, 0, 0, 0) calc(50% - 0.8px),
			rgba(255, 0, 0, 1) 50%,
			rgba(255, 0, 0, 0) calc(50% + 0.8px),
			rgba(255, 0, 0, 0) 100%
		);
	@apply border-2 border-gray-300 rounded-full;
}

.activeColorBox {
	@apply border border-gray-300;
	box-shadow: 0 0 0 2px #4a47b1;
	transform: scale(1.1);
}

.colorPicker {
	@apply mr-5 w-10 h-10 rounded-full border-2 border-gray-300;
	transition: border-color 0.3s ease;
}

.colorPicker:hover {
	border-color: #4a47b1;
	box-shadow: 0 0 10px rgba(74, 71, 177, 0.5);
}
